header {
  nav {
    background-color: black;
    height: 80px;
    .navbar-brand {
      height: 50px;   
      display: flex;
      align-items: center; 
      justify-content: center;
      color: white;
      font-family: "Alkatra", cursive;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .user-name {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: white;
    }

    .icon {
      //   cursor: pointer;
      // background-color: greenyellow;
      background-color: antiquewhite;
      margin-left: 10px;
      height: 50px;
      width: 50px;
      // padding: 0 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: #721515;
      }
      a:hover {
        color: #152b72;
      }
      .user-icon {
        font-size: 2.5rem;
      }
      .home-icon {
        font-size: 1.5rem;
      }
      .logout-icon {
        background-color: #dc3545;
        color: white;
        font-size: 1.5rem;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 620px) {
}
